<!-- Page Title -->
<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
        <img class="right-image" src="~/customer-assets/images/background/1.jpg" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
        </div>

        <div class="auto-container">
            <h1>About Us</h1>
            <ul class="page-breadcrumb">
                <li><a href="index-2.html">home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- About Section -->
<section class="about-section style-two">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer-one"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.20" class="icon-layer-two"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/customer-assets/images/resource/about.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">about us</div>
                            <h2>Car insurance rate reductions up to 25%</h2>
                        </div>
                        <div class="bold-text">
                            We are a professional and creative company and we offer you
                            a trusty insurance on your veicle.
                        </div>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when ang dummy
                            text lorem.
                        </div>
                        <div class="author-box clearfix">
                            <div class="box-inner">
                                <div class="author-image">
                                    <img src="~/customer-assets/images/resource/author-1.jpg" alt="" />
                                </div>
                                Luiz Mark
                                <span>ceo of carsore</span>
                            </div>
                            <div class="signature">
                                <img src="~/customer-assets/images/icons/signature-1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Awards Section -->
<section class="awards-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">We Achived</div>
            <h2>Awards & Recognition</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-3">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.20" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- blocks Column -->
                <div class="blocks-column col-lg-6 cl-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">
                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-graduated-1"></div>
                                    <h5><a href="services-detail.html">Best Company</a></h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-bar-chart-1"></div>
                                    <h5>
                                        <a href="services-detail.html">Growing Business</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-charity"></div>
                                    <h5>
                                        <a href="services-detail.html">Great Support</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-trophy-1"></div>
                                    <h5>
                                        <a href="services-detail.html">Excellent Service</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 cl-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                            <img src="~/customer-assets/images/resource/award.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Awards Section -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Our Team</div>
            <h2>
                We ensure best insurance services <br />
                for our clients.
            </h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-4">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.40" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
                </div>
                <div data-depth="0.20" class="pattern-layer-two"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')">
                </div>
            </div>
            <div class="team-carousel owl-carousel owl-theme">
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="#" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="~/customer-assets/images/resource/team-1.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="~/customer-assets/images/resource/team-2.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="~/customer-assets/images/resource/team-3.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="~/customer-assets/images/resource/team-4.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->
<!-- Choose Section -->
<section class="choose-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">why us</div>
            <h2>Why Chose Us</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-5">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.20" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
                </div>
                <div data-depth="0.20" class="pattern-layer-two"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/customer-assets/images/resource/choose.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                            <!-- Fact Counter -->
                            <div class="fact-counter">
                                <div class="row clearfix">
                                    <!-- Column -->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>%
                                                </div>
                                                <div class="counter-title">
                                                    Customer <br />
                                                    satisfaction
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="4000" data-stop="200">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    Monthly active <br />
                                                    users
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    New Customer <br />
                                                    per week
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the simply dummy
                            text of industry's standard dummy, lorem ipsum dolor.
                        </div>
                        <div class="list-outer">
                            <ul class="choose-list">
                                <li>
                                    <span class="number">1</span>
                                    <strong>Compare personalized quotes</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">2</span>
                                    <strong>Get all discounts in one place</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">3</span>
                                    <strong>Buy online or on the phone</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Section -->
<!-- Skill Section -->
<section class="skill-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-6">
                <div data-depth="0.30" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Skill Column -->
                <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="parallax-scene-7">
                            <div data-depth="0.80" class="icon-layer"
                                style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')">
                            </div>
                        </div>
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <h2>
                                The operational <br />
                                processes of Carsore
                            </h2>
                            <div class="text">
                                We are a professional and creative company and we offer
                                you a trusty insurance on your veicle.
                            </div>
                        </div>

                        <!-- Skills -->
                        <div class="skills">
                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Strategy Consulting</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="90"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Market value</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="80">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="80"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Marketing</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="70">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Relations</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="60">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="60"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <div class="triangle-one"></div>
                            <div class="triangle-two"></div>
                            <img src="~/customer-assets/images/resource/skill.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Skill Section -->
<!-- Insurance Section -->
<section class="insurance-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <h2>How Car Insurance Works?</h2>
            <div class="text">
                We are a professional and creative company and we <br />
                offer you a trusty on your veicle.
            </div>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-8">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.40" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
                </div>
                <div data-depth="0.20" class="pattern-layer-two"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-car-1"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Enter your Car Numbere</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-customer-support"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Answer few Questions</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-clipboard-1"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Plans & Prices Tailor</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-tags"></span>
                        </div>
                        <h5><a href="insurance-form.html">Make payment</a></h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Insurance Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-9">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
                <div data-depth="0.30" class="pattern-layer"
                    style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/customer-assets/images/resource/testimonial.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                        </div>
                    </div>
                </div>

                <!-- Carousel Column -->
                <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">feedback</div>
                            <h2>
                                What Clients Says <br />
                                About us?
                            </h2>
                        </div>
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_Vehicle")
@await Html.PartialAsync("_SendMail")
