<section class="main-slider">
  <div class="auto-container">
    <div class="slider-icons-outer parallax-scene-1">
      <div data-depth="0.20" class="pattern-layer"
        style="background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-1.png")')"></div>
      <div data-depth="0.40" class="pattern-layer-two"
        style="background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-2.png")')"></div>
      <div data-depth="0.40" class="pattern-layer-three"
        style="background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-3.png")')"></div>
      <div class="pattern-layer-four"
        style="background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-4.png")')"></div>
      <div class="pattern-layer-six"
        style="background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-6.png")')"></div>
    </div>
    <div class="main-slider-carousel owl-carousel owl-theme">
      <!-- Slide 01 -->
      <div class="slide">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title">WELCOME TO CARSORE</div>
              <h1>Get Your Car Insurance Within Minutes</h1>
              <div class="text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.Lorem Ipsum has >
              </div>
              <div class="btns-box clearfix">
                <a class="btn-style-one theme-btn" href="about.html"><span class="txt">Read More
                    <i class="fa fa-arrow-circle-right"></i></span></a>
                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span
                    class="fa fa-play"><i class="ripple"></i></span></a>
              </div>
              <div class="slide-arrow scroll-to-target" data-target=".about-section">
                <img src="~/customer-assets/images/icons/slider-arrow.png" alt="" />
              </div>
            </div>
          </div>

          <!-- Image Column Start-->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="pattern-layer-five" style="
                        background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-5.png")');
                      "></div>
            <div class="inner-column">
              <div class="image">
                <img src="~/customer-assets/images/main-slider/content-image.png" alt="" width="817" height="411" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="row clearfix">
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title">WELCOME TO CARSORE</div>
              <h1>Get Your Car Insurance Within Minutes</h1>
              <div class="text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.Lorem Ipsum has
              </div>
              <div class="btns-box clearfix">
                <a class="btn-style-one theme-btn" href="about.html"><span class="txt">Read More
                    <i class="fa fa-arrow-circle-right"></i></span></a>
                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span
                    class="fa fa-play"><i class="ripple"></i></span></a>
              </div>
              <div class="slide-arrow scroll-to-target" data-target=".about-section">
                <img src="~/customer-assets/images/icons/slider-arrow.png" alt="" />
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="pattern-layer-five" style="
                        background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-5.png")');
                      "></div>
            <div class="inner-column">
              <div class="image">
                <img src="~/customer-assets/images/main-slider/content-image.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slide 02 -->

      <!-- Slide 03 -->
      <div class="slide">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title">WELCOME TO CARSORE</div>
              <h1>Get Your Car Insurance Within Minutes</h1>
              <div class="text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.Lorem Ipsum has
              </div>
              <div class="btns-box clearfix">
                <a class="btn-style-one theme-btn" href="about.html"><span class="txt">Read More
                    <i class="fa fa-arrow-circle-right"></i></span></a>
                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span
                    class="fa fa-play"><i class="ripple"></i></span></a>
              </div>
              <div class="slide-arrow scroll-to-target" data-target=".about-section">
                <img src="~/customer-assets/images/icons/slider-arrow.png" alt="" />
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="pattern-layer-five" style="
                        background-image: url('@Url.Content("~/customer-assets/images/main-slider/pattern-5.png")');
                      "></div>
            <div class="inner-column">
              <div class="image">
                <img src="~/customer-assets/images/main-slider/content-image.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slide 03 -->
    </div>
  </div>
</section>
<!-- End Main Slider Section -->

<!-- About Section -->
<section class="about-section"
  style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-2.png")')">
  <!-- <div
            class="top-pattern-layer"
            style=": url(~/customer-assets/images/background/pattern-1.png)"
          ></div> -->
  <div class="auto-container">
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-2">
        <div data-depth="0.20" class="icon-layer-one"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')">
        </div>
      </div>
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image titlt" data-tilt data-tilt-max="2">
              <img src="~/customer-assets/images/resource/about.jpg" alt="" />
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
            </div>
          </div>
        </div>
        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="sec-title light">
              <div class="title">about us</div>
              <h2>Car insurance rate reductions up to 25%</h2>
            </div>
            <div class="bold-text">
              We are a professional and creative company and we offer
              you a trusty insurance on your veicle.
            </div>
            <div class="text">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when ang dummy
              text lorem.
            </div>
            <div class="author-box clearfix">
              <div class="box-inner">
                <div class="author-image">
                  <img src="~/customer-assets/images/resource/author-1.jpg" alt="" />
                </div>
                Luiz Mark
                <span>ceo of carsore</span>
              </div>
              <div class="signature">
                <img src="~/customer-assets/images/icons/signature.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@await Html.PartialAsync("_Our_services")

<section class="choose-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <div class="title">why us</div>
      <h2>Why Choose Us</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-4">
        <div data-depth="0.20" class="icon-layer" style=": url(~/customer-assets/images/icons/icon-1.png)"></div>
        <div data-depth="0.20" class="pattern-layer" style=": url(~/customer-assets/images/background/pattern-3.png)">
        </div>
        <div data-depth="0.20" class="pattern-layer-two"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')"></div>
      </div>
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image titlt" data-tilt data-tilt-max="2">
              <img src="~/customer-assets/images/resource/choose.jpg" alt="" />
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <!-- Fact Counter -->
              <div class="fact-counter">
                <div class="row clearfix">
                  <!-- Column -->
                  <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span class="count-text" data-speed="3000" data-stop="100">0</span>%
                        </div>
                        <div class="counter-title">
                          Customer <br />
                          satisfaction
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Column -->
                  <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span class="count-text" data-speed="4000" data-stop="200">0</span>+
                        </div>
                        <div class="counter-title">
                          Monthly active <br />
                          users
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Column -->
                  <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span class="count-text" data-speed="3000" data-stop="100">0</span>+
                        </div>
                        <div class="counter-title">
                          New Customer <br />
                          per week
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="text">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the simply
              dummy text of industry's standard dummy, lorem ipsum
              dolor.
            </div>
            <div class="list-outer">
              <ul class="choose-list">
                <li>
                  <span class="number">1</span>
                  <strong>Compare personalized quotes</strong>
                  Answer a couple of questions, we'll provide accurate
                  live
                </li>
                <li>
                  <span class="number">2</span>
                  <strong>Get all discounts in one place</strong>
                  Answer a couple of questions, we'll provide accurate
                  live
                </li>
                <li>
                  <span class="number">3</span>
                  <strong>Buy online or on the phone</strong>
                  Answer a couple of questions, we'll provide accurate
                  live
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Choose Section -->

<!-- Team Section -->
<section class="team-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">Our Team</div>
      <h2>
        We ensure best insurance services <br />
        for our clients.
      </h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-5">
        <div data-depth="0.20" class="icon-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
        <div data-depth="0.40" class="pattern-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
        <div data-depth="0.20" class="pattern-layer-two"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')"></div>
      </div>
      <div class="team-carousel owl-carousel owl-theme">
        <!-- Team Block -->
        <div class="team-block">
          <div class="inner-box">
            <span class="triangle-one"></span>
            <span class="triangle-two"></span>
            <div class="image">
              <!-- Social Box -->
              <ul class="social-box">
                <li>
                  <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="https://google.com/" class="fab fa-google"></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                </li>
              </ul>

              <img src="~/customer-assets/images/resource/team-1.jpg" alt="" />
              <div class="overlay-box">
                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                <div class="designation">CEO of Carsore</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block">
          <div class="inner-box">
            <span class="triangle-one"></span>
            <span class="triangle-two"></span>
            <div class="image">
              <!-- Social Box -->
              <ul class="social-box">
                <li>
                  <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="https://google.com/" class="fab fa-google"></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                </li>
              </ul>

              <img src="~/customer-assets/images/resource/team-2.jpg" alt="" />
              <div class="overlay-box">
                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                <div class="designation">CEO of Carsore</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block">
          <div class="inner-box">
            <span class="triangle-one"></span>
            <span class="triangle-two"></span>
            <div class="image">
              <!-- Social Box -->
              <ul class="social-box">
                <li>
                  <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="https://google.com/" class="fab fa-google"></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                </li>
              </ul>

              <img src="~/customer-assets/images/resource/team-3.jpg" alt="" />
              <div class="overlay-box">
                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                <div class="designation">CEO of Carsore</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block">
          <div class="inner-box">
            <span class="triangle-one"></span>
            <span class="triangle-two"></span>
            <div class="image">
              <!-- Social Box -->
              <ul class="social-box">
                <li>
                  <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="https://google.com/" class="fab fa-google"></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                </li>
              </ul>

              <img src="~/customer-assets/images/resource/team-4.jpg" alt="" />
              <div class="overlay-box">
                <h3><a href="team-detail.html">Luiz Hector</a></h3>
                <div class="designation">CEO of Carsore</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

<!-- Faq's Section -->
<section class="faq-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">faq</div>
      <h2>Frequently Asked Questions</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-6">
        <div data-depth="0.20" class="icon-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
        <div data-depth="0.40" class="pattern-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
      </div>
      <div class="row clearfix">
        <!-- Accordion Column -->
        <div class="accordion-column col-lg-6 cl-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Accordian Box -->
            <ul class="accordion-box">
              <!--Block-->
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <span class="icon icon-plus fa fa-plus"></span>
                    <span class="icon icon-minus fa fa-minus"></span>
                  </div>
                  1. Compare personalized quotes?
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">
                      Lorem Ipsum is simply dummy text of the printing
                      and typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the
                      1500s, when an unknown printer took a galley
                    </div>
                  </div>
                </div>
              </li>

              <!--Block-->
              <li class="accordion block active-block">
                <div class="acc-btn active">
                  <div class="icon-outer">
                    <span class="icon icon-plus fa fa-plus"></span>
                    <span class="icon icon-minus fa fa-minus"></span>
                  </div>
                  2. Compare personalized quotes?
                </div>
                <div class="acc-content current">
                  <div class="content">
                    <div class="text">
                      Lorem Ipsum is simply dummy text of the printing
                      and typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the
                      1500s, when an unknown printer took a galley
                    </div>
                  </div>
                </div>
              </li>

              <!--Block-->
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <span class="icon icon-plus fa fa-plus"></span>
                    <span class="icon icon-minus fa fa-minus"></span>
                  </div>
                  3. Compare personalized quotes?
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">
                      Lorem Ipsum is simply dummy text of the printing
                      and typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the
                      1500s, when an unknown printer took a galley
                    </div>
                  </div>
                </div>
              </li>

              <!--Block-->
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <span class="icon icon-plus fa fa-plus"></span>
                    <span class="icon icon-minus fa fa-minus"></span>
                  </div>
                  4. Compare personalized quotes?
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">
                      Lorem Ipsum is simply dummy text of the printing
                      and typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the
                      1500s, when an unknown printer took a galley
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-6 cl-md-12 col-sm-12">
          <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <img src="~/customer-assets/images/resource/faq.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Faq's Section -->

<!-- Testimonial Section -->
<section class="testimonial-section">
  <div class="auto-container">
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-7">
        <div data-depth="0.20" class="icon-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
        <div data-depth="0.30" class="pattern-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
      </div>
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image titlt" data-tilt data-tilt-max="2">
              <img src="~/customer-assets/images/resource/testimonial.jpg" alt="" />
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
            </div>
          </div>
        </div>

        <!-- Carousel Column -->
        <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Sec Title -->
            <div class="sec-title">
              <div class="title">feedback</div>
              <h2>
                What Clients Says <br />
                About us?
              </h2>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme">
              <!-- Testimonial Block -->
              <div class="testimonial-block">
                <div class="inner-box">
                  <div class="quote-icon">
                    <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                  </div>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen.
                  </div>
                  <div class="author-box">
                    <div class="box-inner">
                      <div class="author-image">
                        <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                      </div>
                      Luiz Jenifer<br />
                      <div class="designation">Client</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testimonial Block -->
              <div class="testimonial-block">
                <div class="inner-box">
                  <div class="quote-icon">
                    <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                  </div>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen.
                  </div>
                  <div class="author-box">
                    <div class="box-inner">
                      <div class="author-image">
                        <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                      </div>
                      Luiz Jenifer<br />
                      <div class="designation">Client</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testimonial Block -->
              <div class="testimonial-block">
                <div class="inner-box">
                  <div class="quote-icon">
                    <img src="~/customer-assets/images/icons/quote-icon.png" alt="" />
                  </div>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen.
                  </div>
                  <div class="author-box">
                    <div class="box-inner">
                      <div class="author-image">
                        <img src="~/customer-assets/images/resource/author-2.jpg" alt="" />
                      </div>
                      Luiz Jenifer<br />
                      <div class="designation">Client</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial Section -->

<!-- Awards Section -->
<section class="awards-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <div class="title">We Achieved</div>
      <h2>Awards & Recognition</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-8">
        <div data-depth="0.20" class="icon-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
        <div data-depth="0.20" class="pattern-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
      </div>
      <div class="row clearfix">
        <!-- blocks Column -->
        <div class="blocks-column col-lg-6 cl-md-12 col-sm-12">
          <div class="inner-column">
            <div class="row clearfix">
              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-graduated-1"></div>
                  <h5>
                    <a href="services-detail.html">Best Company</a>
                  </h5>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing.
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-bar-chart-1"></div>
                  <h5>
                    <a href="services-detail.html">Growing Business</a>
                  </h5>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing.
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-charity"></div>
                  <h5>
                    <a href="services-detail.html">Great Support</a>
                  </h5>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing.
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-trophy-1"></div>
                  <h5>
                    <a href="services-detail.html">Excellent Service</a>
                  </h5>
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-6 cl-md-12 col-sm-12">
          <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <img src="~/customer-assets/images/resource/award.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Awards Section -->

<!-- News Section -->
<section class="news-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">Our blog</div>
      <h2>Read Our Daily Blog</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-9">
        <div data-depth="0.20" class="icon-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
        <div data-depth="0.20" class="pattern-layer"
          style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')"></div>
      </div>
      <div class="row clearfix">
        <!-- News Block -->
        <div class="news-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <a href="services-detail.html"><img src="~/customer-assets/images/resource/news-1.jpg" alt="" /></a>
            </div>
            <div class="lower-content">
              <ul class="post-meta">
                <li>
                  <span class="icon flaticon-user"></span>22 OCT, 2021
                </li>
              </ul>
              <h4>
                <a href="services-detail.html">How to apply on carsore for car insurance ?</a>
              </h4>
              <a href="services-detail.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>

        <!-- News Block -->
        <div class="news-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <a href="services-detail.html"><img src="~/customer-assets/images/resource/news-2.jpg" alt="" /></a>
            </div>
            <div class="lower-content">
              <ul class="post-meta">
                <li>
                  <span class="icon flaticon-user"></span>22 OCT, 2021
                </li>
              </ul>
              <h4>
                <a href="services-detail.html">How to apply on carsore for car insurance ?</a>
              </h4>
              <a href="services-detail.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>

        <!-- News Block -->
        <div class="news-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <a href="services-detail.html"><img src="~/customer-assets/images/resource/news-3.jpg" alt="" /></a>
            </div>
            <div class="lower-content">
              <ul class="post-meta">
                <li>
                  <span class="icon flaticon-user"></span>22 OCT, 2021
                </li>
              </ul>
              <h4>
                <a href="services-detail.html">How to apply on carsore for car insurance ?</a>
              </h4>
              <a href="services-detail.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End News Section -->

<!-- Clients Section -->
<div class="clients-section">
  <div class="auto-container">
    <div class="section-icons-outer parallax-scene-10">
      <div data-depth="0.50" class="pattern-layer"
        style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')">
      </div>
    </div>
    <div class="carousel-outer">
      <!--Sponsors Slider-->
      <ul class="sponsors-carousel owl-carousel owl-theme">
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/1.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/2.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/3.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/4.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/5.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/1.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/2.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/3.png" alt="" /></a>
          </div>
        </li>
        <li>
          <div class="image-box">
            <a href=""><img src="~/customer-assets/images/clients/4.png" alt="" /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Clients Section -->

<!-- CTA Section -->
<section class="cta-section">
  <div class="auto-container">
    <div class="inner-container"
      style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-5.png")')">
      <div class="row clearfix">
        <!-- Title Column -->
        <div class="title-column col-lg-5 col-md-12 col-sm-12">
          <div class="inner-column">
            <h3>Let us take care about your veicle</h3>
          </div>
        </div>

        <!-- Form Column -->
        <div class="form-column col-lg-7 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="newsletter-form">
              <form method="post">
                <div class="form-group">
                  <span class="icon fa fa-envelope"></span>
                  <input type="email" name="email" value="" placeholder="Enter your mail" required="" />
                  <button type="submit" class="theme-btn flaticon-send"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>