<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
        <img class="right-image" src="~/customer-assets/images/background/7.jpg" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
        </div>

        <div class="auto-container">
            <h1>Blog Single</h1>
            <ul class="page-breadcrumb">
                <li><a href="index-2.html">home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="news-detail">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/customer-assets/images/resource/news-4.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3>How to apply on carsore?</h3>
                            <ul class="post-meta">
                                <li>
                                    <span class="icon"><img src="~/customer-assets/images/resource/author-3.jpg"
                                            alt="" /></span>Luiz Mark
                                </li>
                                <li>
                                    <span class="icon fa fa-calendar"></span>22 OCT, 2021
                                </li>
                                <li>
                                    <span class="icon fa fa-envelope"></span>22 comments
                                </li>
                                <li>
                                    <span class="icon fa fa-tags"></span>Account tips
                                </li>
                            </ul>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.Lorem
                                Ipsum is simply dummy text the
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged.
                            </p>
                            <blockquote>
                                <span class="icon flaticon-quotation-1"></span>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Also Lorem Ipsum has been the
                                industry's standard dummy text ever since the ideas
                                1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five.
                            </blockquote>
                            <h3>How to apply on carsore?</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five.
                            </p>
                            <div class="gallery-column">
                                <div class="row clearfix">
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <!-- Blog Video Box -->
                                        <div class="blog-video-box">
                                            <figure class="video-image">
                                                <img src="~/customer-assets/images/resource/news-5.jpg" alt="" />
                                            </figure>
                                            <a href="#" class="lightbox-image overlay-box">
                                                <span class="flaticon-play-arrow">
                                                    <i class="ripple"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <img src="~/customer-assets/images/resource/news-6.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book..
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged
                            </p>
                        </div>

                        <!-- Blog Author Box -->
                        <div class="blog-author-box">
                            <div class="author-inner">
                                <div class="thumb">
                                    <img src="~/customer-assets/images/resource/author-4.png" alt="" />
                                </div>
                                <h4 class="name">Admin - UI/UX Designer</h4>
                                <div class="text">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. lorem Ipsum has been the
                                    industry’s standard dummy text ever since the when our
                                    idea
                                </div>
                                <ul class="social-icon clearfix">
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @model IEnumerable<CarInsuranceManage.Models.Comment>

                        <div class="comments-area">
                            <div class="group-title">
                                <h4>Comments by User</h4>
                            </div>

                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-info">@TempData["Message"]</div>
                            }
                            @if (TempData["WarningMessage"] != null)
                            {
                                <div class="alert alert-warning">@TempData["WarningMessage"]</div>
                            }

                            <div class="comments-outer">
                                <!-- Lọc chỉ những bình luận chính (parentCommentId == null) -->
                                @foreach (var comment in Model.Where(c => c.parent_comment_id == null).OrderBy(c =>
                                c.created_at))
                                {
                                    <div class="comment-box">
                                        <div class="comment">
                                            <div class="author-thumb">
                                                <img src="~/customer-assets/images/resource/author-5.jpg" alt="" />
                                            </div>
                                            <div class="comment-info clearfix">
                                                <strong>@comment.Customer.User?.username</strong>
                                            </div>
                                            <div class="text">
                                                @comment.comment_text
                                            </div>
                                            <div class="comment-time">@comment.created_at.ToString("MMM dd, yyyy")</div>

                                            <!-- Nút trả lời -->
                                            <a class="theme-btn reply-btn" data-comment-id="@comment.comment_id"
                                                data-username="@comment.Customer.User?.username">Reply</a>

                                            <!-- Form trả lời, ẩn ban đầu -->
                                            <div class="reply-form" id="reply-form-@comment.comment_id"
                                                style="display:none;">
                                                <form method="post" asp-action="Send" asp-controller="Blog">
                                                    <div class="form-group">
                                                        <textarea name="message" class="form-control"
                                                            placeholder="Type Your Reply"></textarea>
                                                    </div>
                                                    <input type="hidden" name="parentCommentId"
                                                        value="@comment.comment_id" />
                                                    <button type="submit" class="btn btn-primary">Reply</button>
                                                </form>
                                            </div>

                                            <!-- Hiển thị các trả lời của bình luận -->
                                            @foreach (var reply in Model.Where(r => r.parent_comment_id ==
                                           comment.comment_id).OrderBy(r => r.created_at))
                                            {
                                                <div class="comment-box reply-box">
                                                    <div class="comment">
                                                        <div class="author-thumb">
                                                            <img src="~/customer-assets/images/resource/author-5.jpg" alt="" />
                                                        </div>
                                                        <div class="comment-info clearfix">
                                                            <strong>@reply.Customer.User?.username</strong>
                                                        </div>
                                                        <div class="alert alert-info">
                                                            @reply.comment_text
                                                        </div>
                                                        <div class="comment-time">@reply.created_at.ToString("MMM dd, yyyy")
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <script src="~/customer-assets/js/js.js"></script>
                        <div class="comment-form">
                            <div class="group-title">
                                <h4>Leave a comment</h4>
                            </div>
                            <form method="post" asp-action="Send" asp-controller="Blog">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label>Your Message</label>
                                        <textarea name="message" placeholder="Type Your Message" required></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                            <span class="txt">
                                                Send Now
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">
                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search here..."
                                    required />
                                <button type="submit">
                                    <span class="icon fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Subscribe Widget -->
                    <div class="sidebar-widget subscribe-widget">
                        <div class="widget-content">
                            <h5>SUBSCRIBE FOR MORE WORDPRESS THEMES</h5>
                            <div class="subscribe-form">
                                <form method="post">
                                    <div class="form-group">
                                        <input type="email" name="email" value="" placeholder="Your Email"
                                            required="" />
                                        <button type="submit" class="theme-btn subscribe-btn">
                                            Subscribe
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Post Widget -->
                    <div class="sidebar-widget post-widget">
                        <!-- Footer Column -->
                        <div class="widget-content">
                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h3>Recent Post</h3>
                            </div>

                            <div class="post">
                                <div class="thumb">
                                    <a href=""><img src="~/customer-assets/images/resource/post-thumb-1.jpg"
                                            alt="" /></a>
                                </div>
                                <h6>
                                    <a href="">Lorem Ipsum is simply a text the printing?</a>
                                </h6>
                                <div class="post-date">
                                    <img src="~/customer-assets/images/calender.svg" alt="" srcset="">SEP 11, 2021
                                </div>
                            </div>

                            <div class="post">
                                <div class="thumb">
                                    <a href=""><img src="~/customer-assets/images/resource/post-thumb-2.jpg"
                                            alt="" /></a>
                                </div>
                                <h6>
                                    <a href="">Lorem Ipsum is simply a text the printing?</a>
                                </h6>
                                <div class="post-date">
                                    <img src="~/customer-assets/images/calender.svg" alt="" srcset="">SEP 11, 2021

                                </div>
                            </div>

                            <div class="post">
                                <div class="thumb">
                                    <a href=""><img src="~/customer-assets/images/resource/post-thumb-3.jpg"
                                            alt="" /></a>
                                </div>
                                <h6>
                                    <a href="">Lorem Ipsum is simply a text the printing?</a>
                                </h6>
                                <div class="post-date">
                                    <img src="~/customer-assets/images/calender.svg" alt="" srcset="">SEP 11, 2021
                                </div>
                            </div>

                            <div class="post">
                                <div class="thumb">
                                    <a href="#"><img src="~/customer-assets/images/resource/post-thumb-4.jpg"
                                            alt="" /></a>
                                </div>
                                <h6>
                                    <a href="">Lorem Ipsum is simply a text the printing?</a>
                                </h6>
                                <div class="post-date">

                                    <img src="~/customer-assets/images/calender.svg" alt="" srcset="">SEP 11, 2021

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Help Widget -->
                    <div class="sidebar-widget help-widget">
                        <div class="image">
                            <img src="~/customer-assets/images/resource/help.jpg" alt="" />
                            <div class="overlay-box">
                                <h4>Need Help?</h4>
                                <ul class="help-info">
                                    <li>
                                        <a href="tel:+1555897965"><span class="icon fa fa-phone"></span>+1555897965</a>
                                    </li>
                                    <li>
                                        <a href="mailto:carsore@mail.com">
                                            <span class="icon fa fa-envelope"></span>carsore@mail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Tags Widget -->
                    <div class="sidebar-widget tags">
                        <!-- Footer Column -->
                        <div class="widget-content">
                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h3>Tags</h3>
                            </div>
                            <ul class="tag-list clearfix">
                                <li><a href="#">Tips & tricks</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">insurance</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">insurance</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Social Widget -->
                    <div class="sidebar-widget social-widget">
                        <!-- Footer Column -->
                        <div class="widget-content">
                            <!-- Sidebar Title -->
                            <div class="sidebar-title light">
                                <h3>Follow Us</h3>
                            </div>
                            <ul class="social-links">
                                <li class="facebook">
                                    <a href="#"><span class="icon fab fa-facebook-f"></span>10k</a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><span class="icon fab fa-twitter"></span>7k</a>
                                </li>
                                <li class="google">
                                    <a href="#"><span class="icon fab fa-google"></span>9k</a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><span class="icon fab fa-linkedin-in"></span>8k</a>
                                </li>
                                <li class="whatsapp">
                                    <a href="#"><span class="icon fab fa-whatsapp"></span>3k</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_SendMail")
